<!DOCTYPE html>
<html th:fragment="layout(content)" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SQL-Trainer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/webjars/material-design-lite/1.3.0/material.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script th:src="@{/webjars/material-design-lite/1.3.0/material.min.js}"></script> 
        <script>
            function tab(object, event) {
                var keyCode = event.keyCode ? event.keyCode : event.charCode ? event.charCode : event.which;
                if (keyCode == 9 && !event.shiftKey && !event.ctrlKey && !event.altKey) {
                    var objScrollTop = object.scrollTop;
                    if (object.setSelectionRange) {
                        var selectionStart = object.selectionStart;
                        var selectionEnd = object.selectionEnd;
                        object.value = object.value.substring(0, selectionStart) + "\t" + object.value.substr(selectionEnd);
                        object.setSelectionRange(selectionStart + 1, selectionStart + 1);
                        object.focus();
                    } else if (object.createTextRange) {
                        document.selection.createRange().text = "\t";
                        event.returnValue = false;
                    }
                    object.scrollTop = objScrollTop;
                    if (event.preventDefault)  {
                        event.preventDefault();
                    }
                    
                    return false;
                }
                
                return true;
            }
        </script>
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout-icon"></div>
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout__title">SQL-Trainer</span>
                    <div class="mdl-layout-spacer"></div>
                    <nav class="mdl-navigation mdl-layout--large-screen-only">
                        <a class="mdl-navigation__link" th:href="@{/practice}">Practice</a>
                        <a class="mdl-navigation__link" th:href="@{/exercises}" sec:authorize="hasRole('ADMIN')">Exercises</a>
                        <a class="mdl-navigation__link" th:href="@{/topics}" sec:authorize="hasRole('ADMIN')">Topics</a>
                        <a class="mdl-navigation__link" th:href="@{/databases}" sec:authorize="hasRole('ADMIN')">Databases</a>
                        <form method="GET" th:action="@{/login}" sec:authorize="!isAuthenticated()">
                            <input type="submit" value="Login" />
                        </form>
                    </nav>
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout__title">SQL-Trainer</span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" th:href="@{/practice}">Practice</a>
                    <a class="mdl-navigation__link" th:href="@{/exercises}" sec:authorize="hasRole('ADMIN')">Exercises</a>
                    <a class="mdl-navigation__link" th:href="@{/topics}" sec:authorize="hasRole('ADMIN')">Topics</a>
                    <a class="mdl-navigation__link" th:href="@{/databases}" sec:authorize="hasRole('ADMIN')">Databases</a>
                    <form method="GET" th:action="@{/login}" sec:authorize="!isAuthenticated()">
                        <input type="submit" value="Login" />
                    </form>
                </nav>
            </div>


            <main class="mdl-layout__content">

                <div class="mdl-grid" th:include="${content}">
                    content
                </div>

            </main>

            <div th:if="${fishy}">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
    </body>
</html>
